body{
  color: white;
}

h1{
  font-size: 40px;
  opacity: 0.8;
  margin-top: 60px;
}

p{
  font-size: 20px;
  opacity: 0.8;
  margin-top: 10px;
}

#main-page{
  background-image: url(bckgrnd.jpg);
  background-size: cover;
  height: 900px;
}

.btn{
  opacity: 0.8;
  margin-top: 530px;
  font-size: 15px;
}

.quotes-container{
  background-color: black;
  opacity: 0.7;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  height: auto;
  color: white;
  margin-top: 10px;
}

.quote{
  font-size: 20px;
}

.author{
  font-size: 15px;
  font-style: italic;
}
